.badge {
  width: auto;
  height: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  font-size: smaller;
  font-weight: 600;
  padding: 0 0.25rem;
}

/* Filled badges  */
.badge.badge-filled.badge-primary {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.badge.badge-filled.badge-secondary {
  background-color: var(--secondary);
  color: var(--text-secondary);
}

.badge.badge-filled.badge-tertiary {
  background-color: var(--tertiary);
  color: var(--text-secondary);
}

.badge.badge-filled.badge-neutral {
  background-color: var(--neutral);
  color: var(--text-primary);
}

/* Outline badges  */
.badge.badge-outline.badge-primary {
  border: 0.125rem solid var(--primary);
  background-color: inherit;
  /* color: var(--text-secondary); */
}

.badge.badge-outline.badge-secondary {
  border: 0.125rem solid var(--secondary);
  background-color: inherit;
  /* color: var(--text-primary); */
}

.badge.badge-outline.badge-tertiary {
  border: 0.125rem solid var(--tertiary);
  background-color: inherit;
  /* color: var(--text-secondary); */
}

.badge.badge-outline.badge-neutral {
  border: 0.125rem solid var(--neutral);
  background-color: inherit;
  /* color: var(--text-secondary); */
}
