.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border: none;
}

.button:hover {
  transform: scale(1.03);
}

.button:active {
  transform: translate(1rem, -1rem);
}

/* Fill buttons */
.button-filled {
  border: none;
}

.button-filled.button-primary {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.button-filled.button-primary:hover {
  background-color: var(--primary-hover);
  color: var(--text-secondary);
}

.button-filled.button-secondary {
  background-color: var(--secondary);
  color: var(--text-secondary);
}

.button-filled.button-secondary:hover {
  background-color: var(--secondary-hover);
  color: var(--text-secondary);
}

.button-filled.button-tertiary {
  background-color: var(--tertiary);
  color: var(--text-secondary);
}

.button-filled.button-tertiary:hover {
  background-color: var(--tertiary-hover);
  color: var(--text-secondary);
}

/* Outline buttons */
.button-outline {
  background-color: inherit;
  border: 3px solid;
}

.button-outline.button-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.button-outline.button-primary:hover {
  background-color: var(--primary);
  color: var(--text-secondary);
}

.button-outline.button-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.button-outline.button-secondary:hover {
  background-color: var(--secondary);
  color: var(--text-secondary);
}

.button-outline.button-tertiary {
  color: var(--tertiary);
  border-color: var(--tertiary);
}

.button-outline.button-tertiary:hover {
  background-color: var(--tertiary);
  color: var(--text-secondary);
}

/* State buttons */

.button-filled.button-info {
  background-color: var(--info);
  color: var(--text-secondary);
}

.button-filled.button-info:hover {
  background-color: var(--info-hover);
  color: var(--text-secondary);
}

.button-filled.button-success {
  background-color: var(--success);
  color: var(--text-secondary);
}

.button-filled.button-success:hover {
  background-color: var(--success-hover);
  color: var(--text-secondary);
}

.button-filled.button-warning {
  background-color: var(--warning);
  color: var(--text-secondary);
}

.button-filled.button-warning:hover {
  background-color: var(--warning-hover);
  color: var(--text-secondary);
}

.button-filled.button-error {
  background-color: var(--error);
  color: var(--text-secondary);
}

.button-filled.button-error:hover {
  background-color: var(--error-hover);
  color: var(--text-secondary);
}

/* Sizes */
.button-small {
  padding: 4px 8px;
  font-size: 0.875rem;
}

.button-medium {
  padding: 8px 16px;
  font-size: 1rem;
}

.button-large {
  padding: 12px 24px;
  font-size: 1.25rem;
}
