@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Colour */
  --primary: rgb(66, 70, 140);
  --primary-hover: rgba(66, 70, 140, 0.9);
  --secondary: rgb(140, 66, 70);
  --secondary-hover: rgba(140, 66, 70, 0.9);
  --tertiary: rgb(70, 140, 66);
  --tertiary-hover: rgba(70, 140, 66, 0.9);
  /* tailwind neutral 200 */
  --neutral: rgb(229, 229, 229);
  --neutral-hover: rgba(229, 229, 229, 0.9);
  /* tailwind neutral 500 */
  --neutral-darker: rgb(115, 115, 115);
  --neutral-darker-hover: rgba(115, 115, 115, 0.9);
  /* tailwind neutral 800 */
  --neutral-darkest: rgb(38, 38, 38);
  --text-primary: rgb(17, 24, 39);
  --text-secondary: rgb(243, 244, 246);
  --background: rgb(243, 244, 246);
  --info: rgb(14, 165, 233);
  --info-hover: rgba(14, 165, 233, 0.9);
  --success: rgb(16, 185, 129);
  --success-hover: rgba(16, 185, 129, 0.9);
  --warning: rgb(234, 179, 8);
  --warning-hover: rgba(234, 179, 8, 0.9);
  --error: rgb(244, 63, 94);
  --error-hover: rgba(244, 63, 94, 0.9);

  /* Typography */
  --font-family: "Rubik", sans-serif;
  /* Default font size */
  --font-size-base: 1rem;
  /* Heading font sizes */
  --font-size-h1: 2rem; /* 32px */
  --font-size-h2: 1.75rem; /* 28px */
  --font-size-h3: 1.5rem; /* 24px */
  --font-size-h4: 1.25rem; /* 20px */
  --font-size-h5: 1rem; /* 16px */
  --font-size-h6: 0.875rem; /* 14px */
  /* Small text */
  --font-size-small: 0.875rem; /* 14px */
}

/* Dark mode colours */

.dark-theme {
  --primary: rgb(66, 70, 140);
  --primary-hover: rgba(66, 70, 140, 0.9);
  --secondary: rgb(140, 66, 70);
  --secondary-hover: rgba(140, 66, 70, 0.9);
  --tertiary: rgb(70, 140, 66);
  --tertiary-hover: rgba(70, 140, 66, 0.9);
  /* tailwind neutral 200 */
  --neutral: rgb(229, 229, 229);
  --neutral-hover: rgba(229, 229, 229, 0.9);
  /* tailwind neutral 500 */
  --neutral-darker: rgb(115, 115, 115);
  --neutral-darker-hover: rgba(115, 115, 115, 0.9);
  /* tailwind neutral 800 */
  --neutral-darkest: rgb(38, 38, 38);
  --text-primary: rgb(243, 244, 246);
  --text-secondary: rgb(17, 24, 39);
  --background: rgb(17, 24, 39);
  --info: rgb(14, 165, 233);
  --info-hover: rgba(14, 165, 233, 0.9);
  --success: rgb(16, 185, 129);
  --success-hover: rgba(16, 185, 129, 0.9);
  --warning: rgb(234, 179, 8);
  --warning-hover: rgba(234, 179, 8, 0.9);
  --error: rgb(244, 63, 94);
  --error-hover: rgba(244, 63, 94, 0.9);
}

html {
  font-size: var(--font-size-base);
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

p {
  font-size: var(--font-size-p); /* Use base size for paragraphs */
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 0;
}

h3 {
  font-size: var(--font-size-h3);
  margin: 0;
}

h4 {
  font-size: var(--font-size-h4);
  margin: 0;
}

h5 {
  font-size: var(--font-size-h5);
  margin: 0;
}

h6 {
  font-size: var(--font-size-h6);
  margin: 0;
}

small,
.small-text {
  font-size: var(--font-size-small);
}
