.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* @media (max-width: 768px) {
  .card {
    max-width: 95%;
  }
}

@media (min-width: 1024px) {
  .card {
    max-width: 500px;
  }
} */

.card:hover {
  transform: scale(1.03);
}

.cardTitle {
  font-weight: 700;
  padding-top: 1rem;
}

.cardContent {
  text-align: justify;
  padding: 0.5rem 2rem;
  margin-top: 0;
}

/* Filled cards */
.card-filled {
  width: 300px;
  max-width: 400px;
  height: auto;
  min-height: 400px;
}

.card-filled.card-primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

.card-filled.card-secondary {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.card-filled.card-tertiary {
  background-color: var(--tertiary);
  color: var(--text-primary);
}

/* Outline cards */
.card-outline {
  width: 300px;
  max-width: 400px;
  height: auto;
  min-height: 400px;
}

.card-outline.card-primary {
  background-color: transparent;
  border: 3px solid var(--primary);
  color: var(--text-secondary);
}

.card-outline.card-secondary {
  background-color: transparent;
  border: 3px solid var(--secondary);
  color: var(--text-secondary);
}

.card-outline.card-tertiary {
  background-color: transparent;
  border: 3px solid var(--tertiary);
  color: var(--text-secondary);
}

/* Wide cards */
.card-wide {
  width: 400px;
  height: auto;
  min-height: 150px;
}

.card-wide.card-primary {
  background-color: var(--primary);
  color: var(--text-primary);
}

.card-wide.card-secondary {
  background-color: var(--secondary);
  color: var(--text-primary);
}

.card-wide.card-tertiary {
  background-color: var(--tertiary);
  color: var(--text-primary);
}

/* Image cards */
.card-with-image {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--primary);
  color: var(--text-secondary);
}

.cardImageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
